@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 150px;
        }

        img {
            width: 600px;
            height: auto;
        }

        p {
            font-size: 18px;
            color: #555;
            margin-bottom: 40px;
        }

        .home-button {
            margin-top: 100px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
        }

            .home-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    @*<h1>Something went wrong.</h1>*@
    <img src="~/Image/oops.png" alt="Error Image">
    <p>The page you are looking for might have been removed,<br /> had its name changed, or is temporarily unavailable.</p>
    <a href="https://localhost:44363/Home/Index" class="home-button">Go to Home Screen</a>
</body>
</html>
